body {
    background-image: url("images/chalkboard.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100%;
    width: 100%;
}

.main {
    background-color: rgba(82, 15, 15, 0.7);
}

#image {
    height: 300px;
    width: 450px;
    margin: 0px, 10px;
    
}

img {
    border: 5px solid black;
}

#desk {
    height: 450px;
    width: 750px;
    margin-right: 10px;
}

.btn {
    height: 50px;
    margin-top: 50px;
}

.indicators {
    color: black;
    background-color: black;
}

.cabinet {
    height: 450px;
    width: 100%;
    background-color: white;
    border: 5px solid black;
}

.carousel-item {
    display: inline-block;
    height: 100%;
    width: 100%;
}

.carousel-item:active {
    display: inline-block;
    height: 100%;
    width: 100%;
}