body {
    height: 100%;
    width: 100%;
    background-color: palegoldenrod;
}

#sideNav {
    height: 90%;
    background-color: lightblue;
    margin-top: 5vh;
    margin-left: 5vw;
    display: flex;
    flex-flow: column wrap;
    border: 5px solid black;
}

#searchBar {
    background-color: fuchsia;
    border: 5px solid black;
    margin-top: 5vh;
    margin-left: -3vw;
    display: block;
    margin-bottom: 10px;
}

#main {
    background-color: white;
    border: 5px solid black;
    min-height: 70vh;
    margin-top: 20px;
    margin-left: -3vw;
}